<h1 id="description">Design is a process for creatively solving problems.</h1>

<p>Most people tend to associate “design” with visual problems, like a logo or t-shirt. But, this process can also be applied to lots of problems; businesses, services, and big, hairy social problems.</p>

<p>Unfortunately, I think we designers mostly suck at describing what we do. We get caught up in the loosey goosey, magical nature of our process. This helps no one understand what the heck we actually do.</p>

<p>Instead people connect with the outcomes of design. The facts: How did you change things? What problem did you solve? How much money did you make? What did you make better (or worse)?</p>

<p>That’s the goal of this website. Get concrete, get real. What impact did design have.</p>


comfort with ambeguity.
<p>The funny thing is, rarely are the metrics we decide are important define at the beginning of a project

<p>---<br />
<%= link_to 'chap', 'http://chapambrose.com'%><br />
<%= link_to 'Austin Center for Design', 'http://austincenterfordesign.com'%><br />
Class of 2011</p>