<h1 id="description">Design is a process for creatively solving problems.</h1>

<p>Most people tend to associate “design” with visual problems, like a logo or t-shirt. But, this process can also be applied to lots of problems; businesses, services, and big, hairy social problems.</p>

<p>Unfortunately, I think we designers mostly suck at describing what we do. We get talk up in the loosey goosey, magical nature of our process. This helps no one understand what the heck we actually do.</p>

<p>Instead people connect with the outcomes of design. The facts: How did you change things? What problem did you solve? How much money did you make? What did you make better (or worse)?</p>

<p>That’s the goal of this website. Get concrete, get real. What did your design do.</p>

<p>Then, as the impact of design starts to congeal, we can start to slide in and talk to them about process. Research. Synthesis. Prototyping. Testing. Etc...</p>

<p>So come on ya’ll, submit your own projects or ones you admire and let’s build this mini-micro-site of great examples of design impact to share with the world.</p>

<p>---<br />
<%= link_to 'chap', 'http://chapambrose.com'%><br />
<%= link_to 'Austin Center for Design', 'http://austincenterfordesign.com'%><br />
Class of 2011</p>