body {
	-webkit-text-size-adjust: none;
	background: #fff;
	color: #999;
}

a {
	color: #999;
}

a:hover {
	color: #666;
}

h1#description {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: normal;
	line-height: 1.2em;
	margin-bottom: 3em;
	color: #333;
}

h1#description .highlight {
	color: red;
	background: none;
}

#error_explanation, #error_explanation h2 {
	color: #f26ab9;
}

textarea {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: normal;
	font-size: 31px;
}

#hd {
	background: #333;
}

#ft {
	border-top: 1px solid #999;
}

#ft a {
		color: #66ccff;
}

.microcopy {
	font-size: 13px;
}

#hd, #ft {
	font-size: 13px;
	padding: 1em;
}

#hd a{
	text-decoration: none;
	color: #999;
}

.field {
	margin-bottom: 2em;
}

input[type=text], textarea {padding: 1em;}

label {
	color: #fff;
	font-size: 21px;
}

#bd {
	width: 350px;
	margin: 0 auto;
	padding-top: 5em;
	padding-bottom: 2em;
}